<%- include('../partials/header.ejs') -%>
<%- include('../partials/chore.ejs') -%>
<link rel="stylesheet" href="/stylesheets/dashboard.css" >
<div class="dashboard__container">
    <div class="nav__container">
        <h1 class="ngo__name"><span><img class="arrow" src="/images/arrow.png" alt="arrow"></span>Care Foundation</h1>
               
        <div class="administrator__details">
            <img class="administrator__img" src="/images/profile.png" alt="profile">
            <div class="administrator__name">
                <p>Hello Admin</p>
            </div>
        </div>
        <hr class="profile__hr" />
        <div class="menu__elements">
            <a href="/dashboard-admin/ngorequests"><h1><span><img class="arrow" src="/images/home.png" alt="arrow"></span>&emsp13;&emsp13;Ngo Requests</h1></a>
        </div>

       
        
        <div class="menu__elements">
            <a href="/dashboard-admin/donors"><h1><span><img class="arrow" src="/images/donation.png" alt="arrow"></span>&emsp13;&emsp13;Donations</h1></a>
        </div>
        
    </div>     
</div>